<a href="https://colab.research.google.com/github/lucbueno54/QuarentenaDados/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
filmes = pd.read_csv("https://raw.githubusercontent.com/lucbueno54/QuarentenaDados/master/DataSet/movies.csv")

In [7]:
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
?filmes

In [0]:
?filmes.head()

In [0]:
avaliacao = pd.read_csv("https://raw.githubusercontent.com/lucbueno54/QuarentenaDados/master/DataSet/ratings.csv")

In [11]:
avaliacao.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [12]:
avaliacao.shape

(100836, 4)

In [13]:
len(avaliacao)

100836

In [17]:
avaliacao.columns = ["usuarioId","filmeid","nota","momento"]
avaliacao.head()

   usuarioId  filmeid  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [16]:
avaliacao.head()

   usuarioId  filmeid  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [19]:
avaliacao.query("filmeid == 1")

       usuarioId  filmeid  nota     momento
0              1        1   4.0   964982703
516            5        1   4.0   847434962
874            7        1   4.5  1106635946
1434          15        1   2.5  1510577970
1667          17        1   4.5  1305696483
...          ...      ...   ...         ...
97364        606        1   2.5  1349082950
98479        607        1   4.0   964744033
98666        608        1   2.5  1117408267
99497        609        1   3.0   847221025
99534        610        1   5.0  1479542900

[215 rows x 4 columns]

In [20]:
avaliacao.describe()

           usuarioId        filmeid           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [21]:
avaliacao["nota"]

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64

In [22]:
avaliacao.query("filmeid == 1")["nota"].mean()

3.9209302325581397

In [0]:
avaliacao_filme1 = avaliacao.query("filmeid == 1")

In [24]:
avaliacao_filme1["nota"].mean()

3.9209302325581397