<a href="https://colab.research.google.com/github/lucbueno54/QuarentenaDados/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lendo os dados do Movielens

Vamos carregar os arquivos de amostras do movielens. Voce pode baixa e utilizar uma versão mais recente se preferir.

In [0]:
import pandas as pd

In [0]:
filmes = pd.read_csv("https://raw.githubusercontent.com/lucbueno54/QuarentenaDados/master/DataSet/movies.csv")

In [23]:
filmes.columns = ["filmeId","titulo","generos"]
filmes.head()

   filmeId  ...                                      generos
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
?filmes

In [0]:
?filmes.head()

In [0]:
avaliacao = pd.read_csv("https://raw.githubusercontent.com/lucbueno54/QuarentenaDados/master/DataSet/ratings.csv")

In [27]:
avaliacao.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [28]:
avaliacao.shape

(100836, 4)

In [29]:
len(avaliacao)

100836

In [30]:
avaliacao.columns = ["usuarioId","filmeid","nota","momento"]
avaliacao.head()

   usuarioId  filmeid  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [31]:
avaliacao.head()

   usuarioId  filmeid  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [32]:
avaliacao.query("filmeid == 1")

       usuarioId  filmeid  nota     momento
0              1        1   4.0   964982703
516            5        1   4.0   847434962
874            7        1   4.5  1106635946
1434          15        1   2.5  1510577970
1667          17        1   4.5  1305696483
...          ...      ...   ...         ...
97364        606        1   2.5  1349082950
98479        607        1   4.0   964744033
98666        608        1   2.5  1117408267
99497        609        1   3.0   847221025
99534        610        1   5.0  1479542900

[215 rows x 4 columns]

In [33]:
avaliacao.describe()

           usuarioId        filmeid           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [34]:
avaliacao["nota"]

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64

In [35]:
avaliacao.query("filmeid == 1")["nota"].mean()

3.9209302325581397

In [0]:
avaliacao_filme1 = avaliacao.query("filmeid == 1")

In [37]:
avaliacao_filme1["nota"].mean()

3.9209302325581397

In [0]:
avaliacao.groupby?

In [39]:
avaliacao.groupby("filmeid").mean()

          usuarioId      nota       momento
filmeid
1        306.530233  3.920930  1.129835e+09
2        329.554545  3.431818  1.135805e+09
3        283.596154  3.259615  1.005110e+09
4        219.857143  2.357143  8.985789e+08
5        299.571429  3.071429  9.926643e+08
...             ...       ...           ...
193581   184.000000  4.000000  1.537109e+09
193583   184.000000  3.500000  1.537110e+09
193585   184.000000  3.500000  1.537110e+09
193587   184.000000  3.500000  1.537110e+09
193609   331.000000  4.000000  1.537158e+09

[9724 rows x 3 columns]

In [0]:
notas_media_por_filme = avaliacao.groupby("filmeid")["nota"].mean()

In [41]:
filmes.head()

   filmeId  ...                                      generos
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
filmes_com_media = filmes.join(notas_media_por_filme,on="filmeId")

In [46]:
filmes_com_media.head()

   filmeId  ...      nota
0        1  ...  3.920930
1        2  ...  3.431818
2        3  ...  3.259615
3        4  ...  2.357143
4        5  ...  3.071429

[5 rows x 4 columns]

In [47]:
filmes_com_media.sort_values("nota")

      filmeId                              titulo                generos  nota
5554    26696                    Lionheart (1990)                 Action   0.5
2689     3604                        Gypsy (1962)                Musical   0.5
4881     7312             Follow Me, Boys! (1966)           Comedy|Drama   0.5
9117   145724               Idaho Transfer (1973)                 Sci-Fi   0.5
7297    76030                      Case 39 (2009)        Horror|Thriller   0.5
...       ...                                 ...                    ...   ...
5749    30892  In the Realms of the Unreal (2004)  Animation|Documentary   NaN
5824    32160            Twentieth Century (1934)                 Comedy   NaN
5837    32371           Call Northside 777 (1948)  Crime|Drama|Film-Noir   NaN
5957    34482        Browning Version, The (1951)                  Drama   NaN
7565    85565                  Chalet Girl (2011)         Comedy|Romance   NaN

[9742 rows x 4 columns]

In [48]:
filmes_com_media.columns = ["filmeId","titulo","generos","media"]
filmes_com_media.head()

   filmeId  ...     media
0        1  ...  3.920930
1        2  ...  3.431818
2        3  ...  3.259615
3        4  ...  2.357143
4        5  ...  3.071429

[5 rows x 4 columns]

In [49]:
filmes_com_media.sort_values("media",ascending= False)

      filmeId  ... media
7656    88448  ...   5.0
8107   100556  ...   5.0
9083   143031  ...   5.0
9094   143511  ...   5.0
9096   143559  ...   5.0
...       ...  ...   ...
5749    30892  ...   NaN
5824    32160  ...   NaN
5837    32371  ...   NaN
5957    34482  ...   NaN
7565    85565  ...   NaN

[9742 rows x 4 columns]